@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400; /* Regular */
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* スムーススクロールの設定 */
html {
	scroll-behavior: smooth;
}

/* 部品
------------------------------------------ */
/* 無料体験予約ボタン */
.free-trial__title {
    font-size: 21px;
    font-weight: 600;
    color: #fa7da3;
    text-align: center;
    margin-bottom: 13px;
}

@media (min-width: 768px) {
    .free-trial__title {
        font-size: 34px;
        margin-bottom: 21px;
    }
}

.free-trial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    background-color: #49c43d;
    border-radius: 70px;
    margin: auto;
}

@media (min-width: 768px) {
    .free-trial__btn {
        width: 570.58px;
        height: 130.1px;
    }
}

.free-trial__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #fff;
}

@media (min-width: 768px) {
    .free-trial__link {
        font-size: 34px;
    }
}

.free-trial__text {
    margin-right: 31px;
}

.free-trial__line {
    display: block;
}

/* セクションタイトル */
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title__text {
    font-size: 32px;
    font-weight: bold;
    color: #fa7da3;
}

/* ヘッダー
------------------------------------------ */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    height: 3.75rem;
}

@media (min-width: 768px) {
    .header {
        height: 95px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.75rem;
    margin-right: 0.5625rem;
    height: 100%;
}

@media (min-width: 768px) {
    .header__content {
        max-width: 1030px;
        margin: auto;
    }
}

.header__logo {
    width: 4.4375rem;
    margin-bottom: 0.375rem;
}

@media (min-width: 768px) {
    .header__logo {
        width: 102px;
    }
}

.header__btn-list {
    display: flex;
    gap: 2.564vw;
}

@media (min-width: 768px) {
    .header__btn-list {
        gap: 2.039%;
    }
}

.header__btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    height: 1.9375rem;
    border-radius: 1.875rem;
}

@media (min-width: 768px) {
    .header__btn-item {
        height: 50.36px;
        font-size: 21.12px;
    }
}

.header__btn-item--contact {
    background-color: #fa7da3;
    width: 6.6875rem;
}

@media (min-width: 768px) {
    .header__btn-item--contact {
        width: 189.1px;
    }
}

.header__btn-item--reservation {
    background-color: #49c43d;
    width: 10.8606rem;
}

@media (min-width: 768px) {
    .header__btn-item--reservation {
        width: 295.49px;
    }
}

.header__btn-link {
    color: #fff;
    margin-left: 0.375rem;
    letter-spacing: 0.025rem;
    font-size: 0.75rem;
    margin-bottom: 0.1875rem;
}

.header__btn-link .bi {
    margin-left: 3px;
}

@media (min-width: 768px) {
    .header__btn-link--contact .bi {
        margin-left: 14px;
    }

    .header__btn-link--reservation .bi {
        margin-left: 14px;
    }
}

.header__btn--free {
    font-size: 0.625rem;
}

@media (min-width: 768px) {
    .header__btn--free {
        font-size: 18px;
    }
}

/* ヒーロー
------------------------------------------ */
.hero__cover {
    position: relative;
}

.hero__image {
    width: 100%;
    height: 19.5625rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    .hero__image {
        height: 612px;
    }
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .hero__content {
        justify-content: center;
        gap: 2.63vw;
    }
}

.hero__head {
    width: 12.6875rem;
    color: #fff;
    padding-top: 1.125rem;
    text-align: center;
}

@media (min-width: 768px) {
    .hero__head {
        max-width: 490px;
        width: 100%;
    }
}

.hero__title {
    font-size: 2.625rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.3125rem;
}

@media (min-width: 768px) {
    .hero__title {
        font-size: clamp(89.34px, 11.633vw, 122.15px);
        margin-bottom: 17px;
    }
}

.hero__note {
    font-size: 1.125rem;
    margin-left: 0.1875rem;
}

@media (min-width: 768px) {
    .hero__note {
        font-size: clamp(30px, 3.789vw, 36px);
        text-align: right;
    }
}

.hero__body {
    width: 11.75rem;
}

@media (min-width: 768px) {
    .hero__body {
        max-width: 423.02px;
        width: 100%;
    }
}

.hero__special-price {
    background-color: rgba(255, 255, 255, .3);
    height: 6.6875rem;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    box-shadow: 3.536px 3.536px 0px 0px rgba(0, 0, 0, .25);
    padding-left: 0.1875rem;
}

@media (min-width: 768px) {
    .hero__special-price {
        height: 222px;
    }
}

.hero__limited {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.hero__only-now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.9375rem;
    height: 1.4375rem;
    font-size: 0.8125rem;
    font-weight: bold;
    color: #fa7da3;
    background-color: #fff;
    padding-bottom: 0.125rem;
}

@media (min-width: 768px) {
    .hero__only-now {
        max-width: 6.61rem;
        width: 100%;
        height: 3.2281rem;
        font-size: clamp(1.4779rem, 3.7895vw, 1.8281rem);
    }
}

.hero__first-month {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    padding-left: 0.125rem;
    padding-bottom: 0.1875rem;
}

@media (min-width: 768px) {
    .hero__first-month {
        font-size: clamp(43.65px, 5.684vw, 54px);
    }
}

.hero__price {
    color: #fffd7a;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.hero__num {
    font-size: 4.75rem;
}

@media (min-width: 768px) {
    .hero__num {
        font-size: clamp(138px, 18vw, 171px);
    }
}

.hero__yen {
    font-size: 2.25rem;
}

@media (min-width: 768px) {
    .hero__yen {
        font-size: clamp(65.48px, 8.526vw, 81px);
    }
}

.hero__per-month {
    color: #fff;
    font-size: 0.875rem;
    text-align: right;
    margin-top: 0.375rem;
    margin-right: 1.625rem;
    margin-bottom: 1.4375rem;
    font-family: 'Outfit', sans-serif;
}

@media (min-width: 768px) {
    .hero__per-month {
        font-size: 26.48px;
        margin-top: 14px;
        margin-right: 52px;
        margin-bottom: 54px;
    }
}

.hero__unit {
    font-size: 0.5625rem;
}

@media (min-width: 768px) {
    .hero__unit {
        font-size: 17.02px;
    }
}

.hero__privilege {
    width: 8.3125rem;
    margin-right: 1.625rem;
    margin-left: auto;
}

@media (min-width: 768px) {
    .hero__privilege {
        width: 100%;
    }
}

.hero__privilege-item {
    font-size: 1.125rem;
    height: 2.1875rem;
    border: 0.0625rem solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .hero__privilege-item {
        height: 70px;
        font-size: 28px;
    }
}

.hero__privilege-item + .hero__privilege-item {
    margin-top: 0.75rem;
}

@media (min-width: 768px) {
    .hero__privilege-item + .hero__privilege-item {
        margin-top: 20px;
    }
}

/* スペシャルオファー */
.hero__special-offer {
    background-color: #fffedd;
    height: 191px;
    padding-top: 20px;
    padding-bottom: 37px;
}

@media (min-width: 768px) {
    .hero__special-offer {
        height: 315px;
        padding-top: 49px;
        padding-bottom: 26px;
    }
}

.hero__limited-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #fa7da3;
    margin-bottom: 11px;
    letter-spacing: 0.0313rem;
}

@media (min-width: 768px) {
    .hero__limited-time {
        font-size: 34px;
        margin-bottom: 25px;
    }
}

.hero__limited-time::before,
.hero__limited-time::after {
    width: 2px;
    height: 27px;
    content: '';
    background-color: #fa7da3;
}

@media (min-width: 768px) {
    .hero__limited-time::before,
    .hero__limited-time::after {
        width: 3.27px;
        height: 44.2px;
    }
}

.hero__limited-time::before {
    margin-right: 14px;
    transform: rotate(-30deg);
}

@media (min-width: 768px) {
    .hero__limited-time::before {
        margin-right: 10px;
    }
}

.hero__limited-time::after {
    margin-left: 13px;
    transform: rotate(30deg);
}

@media (min-width: 768px) {
    .hero__limited-time::after {
        margin-left: 14px;
    }
}

.hero__privilege-detail {
    width: 350px;
    height: 93px;
    border-radius: 10px;
    border: 1px solid #FA7DA3;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
}

@media (min-width: 768px) {
    .hero__privilege-detail {
        width: 550px;
        height: 148px;
    }
}

.hero__privilege-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-size: 21px;
    background-color: #fa7da3;
    color: #fff;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .hero__privilege-title {
        font-size: 32px;
        height: 47px;
    }
}

.hero__privilege-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    font-size: 27px;
    color: #fa7da3;
    padding-right: 14px;
}

@media (min-width: 768px) {
    .hero__privilege-content {
        font-size: 43.67px;
        height: 101px;
    }
}

.hero__privilege-num {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 6px;
}

@media (min-width: 768px) {
    .hero__privilege-num {
        font-size: 67.93px;
    }
}

.hero__privilege-txt {
    padding-top: 5px;
}

.hero__treatment-list {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .hero__treatment-list {
        font-size: 14px;
        margin-top: 20px;
    }
}

/* 無料体験予約 */
.hero__free-trial {
    padding-top: 20px;
    padding-bottom: 40px;
}

.hero__trial-content {
    width: 350px;
    margin: auto;
}

@media (min-width: 768px) {
    .hero__trial-content {
        width: 570.58px;
    }
}

.hero__trial-content-title {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #50bfff;
    border-top: 1px solid #50bfff;
    border-bottom: 1px solid #50bfff;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-top: 30px;
    margin-bottom: 13px;
}

@media (min-width: 768px) {
    .hero__trial-content-title {
        font-size: 28px;
        padding-top: 17px;
        padding-bottom: 19px;
        margin-top: 46px;
        margin-bottom: 24px;
    }
}

.hero__trial-content-detail {
    font-size: 14px;
    line-height: 1.7;
}

@media (min-width: 768px) {
    .hero__trial-content-detail {
        font-size: 22.86px;
    }
}

.hero__trial-time {
    font-size: 11px;
}

@media (min-width: 768px) {
    .hero__trial-time {
        font-size: 17.96px;
    }
}

/* 3つのポイント
------------------------------------------ */
.point {
    background-color: #fdf0f5;
    padding-top: 41px;
    padding-bottom: 30px;
    margin-bottom: 31px;
}

@media (min-width: 768px) {
    .point {
        padding-top: 54px;
        margin-bottom: 62px;
    }
}

.section__sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .section__sub-title {
        margin-bottom: 27px;
    }
}

.point__title-text {
    font-size: 18px;
    font-weight: 500;
    color: #4d2b1b;
}

.point__content {
    width: 350px;
    margin: auto;
}

@media (min-width: 768px) {
    .point__content {
        width: 780px;
    }
}

.point__item {
    border: 1px solid #fa7da3;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.point__free-pass {
    margin-top: 23px;
    margin-bottom: 31px;
}

.point__item-title {
    height: 45px;
    background-color: #fa7da3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

@media (min-width: 768px) {
    .point__item-title {
        font-size: 28px;
        height: 74px;
    }
}

.point__item-text {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .point__item-text {
        margin-top: 33px;
        margin-right: 39px;
        margin-left: 41px;
        font-size: 21px;
    }
}

.point__item-course {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.point__item-course-desc {
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 21px;
}

@media (min-width: 768px) {
    .point__item-course-desc {
        font-size: 21px;
        margin-top: 16px;
        margin-bottom: 43px;
        text-align: center;
    }
}

.point__item-box {
    width: 143px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fa7da3;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .point__item-box {
        width: 230px;
        height: 136px;
        margin-top: 28px;
    }
}

.point__logo-img {
    width: 74px;
}

.point__item-course--salon {
    border-color: #433e3f;
    background-color: #fdf0f5;
    font-size: 18px;
}

.point__choose-plan {
    margin-bottom: 30px;
}

.point__item-plan-title {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #4d2c1c;
    margin-top: 18px;
    margin-bottom: 29px;
}

@media (min-width: 768px) {
    .point__item-plan-title {
        font-size: 24px;
        margin-top: 13px;
        margin-bottom: 24px;
    }
}

.point__whole-img {
    display: block;
    width: 311px;
    margin: auto;
    margin-bottom: 51px;
}

@media (min-width: 768px) {
    .point__whole-img {
        width: 533px;
        margin-bottom: 62px;
    }
}

.point__part-images {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 31px;
    margin-bottom: 21px;
}

@media (min-width: 768px) {
    .point__part-images {
        margin-bottom: 38px;
    }
}

.point__part-img {
    width: 100px;
}

.point__part-img-txt {
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.point__support-text {
    margin-top: 20px;
    margin-bottom: 14px;
}

@media (min-width: 768px) {
    .point__support-text {
        margin-top: 34px;
        margin-bottom: 21px;
    }
}

/* コース
------------------------------------------ */
.course {
    margin-top: 50px;
}

/* .section__sub-title {
    font-size: 18px;
} */

@media (min-width: 768px) {
    .course .section__sub-title {
        font-size: 24px;
    }
}

.course__content {
    width: 350px;
    margin: 24px auto 20px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

@media (min-width: 768px) {
    .course__content {
        flex-direction: row;
        width: 731px;
    }
}

.course__item {
    border: 1px solid #FA7DA3;
    border-radius: 10px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .course__item {
        width: 350px;
    }
}

.course__item-title {
    font-size: 18px;
    color: #fa7da3;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdf0f5;
}

@media (min-width: 768px) {
    .course__item-title {
        font-size: 28px;
    }
}

.course__item-content {
    width: 310px;
    margin: 20px auto;
}

.course__item-txt {
    font-size: 14px;
    margin-bottom: 3px;
}

@media (min-width: 768px) {
    .course__item-txt {
        font-size: 17px;
        margin-bottom: 16px;
    }
}

/* お客様の声
------------------------------------------ */
.voices {
    background-color: #fdf0f5;
    padding-top: 52px;
    padding-bottom: 49px;
    margin-bottom: 31px;
}


/* スイーパー */
.voices__carousel {
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
    margin-top: 26px;
}

.swiper {
    width: 310px;
    height: 188px;
    overflow: visible;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.voices__carousel .swiper-pagination {
    bottom: 0;
}

.voices__carousel .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 15px;
}

@media (min-width: 768px) {
    .swiper-pagination {
    display: none;
    }
}

.voices__item {
    width: 100%;
    height: 100%;
    border: 1px solid #fa7da3;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
}

.voices__item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #fa7da3;
    color: #fff;
    height: 46px;
}

.voices__item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 142px;
    box-sizing: border-box;
}

.voices__item-img {
    margin-left: 18px;
}

.voices__item-customer {
    font-size: 16px;
    color: #fa7da3;
}

.voices__item-text {
    font-size: 14px;
    margin-right: 13px;
}

.footer {
    background-color: #fa7da3;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

@media (min-width: 768px) {
    .footer {
        height: 128px;
    }
}

.footer__logo {
    width: 74px;
}

@media (min-width: 768px) {
    .footer__logo {
        width: 147px;
    }

    .footer__logo-img {
        width: 100%;
        height: auto;
    }
}